[run]
branch = True
source = pixelharmony
omit =
    */pixelharmony/__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
show_missing = True
fail_under = 70

[html]
directory = htmlcov
