# Include base requirements
-r requirements.txt

# Google Photos Integration
google-auth-oauthlib
google-auth
google-api-python-client
google-auth-httplib2
streamlit
keyring

# Performance and Optimization
numba
